body {
  /*overflow: hidden;*/
}

.menu {
  overflow:hidden;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
}

.twitchTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 20px;
}

.filterButtons {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.allStreamers, .onlineStreamers, .offlineStreamers {
  font-size: 20px;
  display: inline-block;
}

.streamerDiv {
  margin-top: 150px;
  margin-left: 2%;
  margin-right: 2%;
}

.streamerList {
  display: grid;
  list-style: none;
  grid-template:
    [row1-start] "logo displayName" auto [row1-end]
    [row2-start] "logo onlineStatus" auto [row2-end]
    [row3-start] "logo moreInfoButton" auto [row3-end]
    [row4-start] "moreInfo moreInfo" auto [row4-end]
    / 35% auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}

.streamerLogoLi {
  grid-area: logo;
}

.streamerLogo {
  height: 100%;
  width: 100%;
}

.streamerName {
  grid-area: displayName;
  font-size: 35px;
}

.streamerOnlineStatus {
  grid-area: onlineStatus;
  font-size: 20px;
}

.moreInfoButton {
  grid-area: moreInfoButton;
  display: flex;
  align-items: center;
}

.moreInfoAboutStreamersDiv {
  grid-area: moreInfo;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.moreInfoSlideUp, .moreInfoSlideDown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.moreInfoSlideDown {
  max-height: 150px;
}

.moreInfoAboutStreamerUL {
  width: 337px;
}

.streamerBio {
  grid-area: bio;
  font-size: 18px;
}

.streamerViewers {}

.streamerFollowers {}
