body {}

.streamerDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.streamerList {
  list-style: none;
}

.streamerLogoLi {}

.streamerLogo {
  height: 50px;
  width: 50px;
}

.streamerName {
  font-size: 26px;
}

.streamerOnlineStatus {}

.streamerBio {}

.moreInfoAboutStreamerDiv {}

.hidden {
  display: none;
}

.moreInfoAboutStreamerUL {}

.streamerViewers {}

.streamerFollowers {}
